:root{
    --primary-color: #f2f2f2;
    --secondary-color: #4CAF50;
}

.App {
    margin: 20px 30px 20px 30px;
    display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



button[type=submit] {
    background-color: var(--secondary-color);
    color: white;
    margin-top: 20px;
    width: 95%;
    height: 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #45a049;

}


.Container{
    flex-grow: 0;
    position: relative;
    height: 100%;
    width: 50%;
}

.Equation-form input{
    width: 75%;
}

.Equation-range label input{
    width: 12%;
}

.Equation-form{
    width: 80%;
    padding: 20px;
    border: 2px solid black;
    background-color: var(--primary-color);
}


.Graph{
    flex-grow: 1;
    text-align: center;
    border: 2px solid black;
}

.History{
    margin-top: 10px;
    resize: none;
    padding: 0px 20px;
    border: 2px solid black;
    background-color: var(--primary-color);
    overflow: auto;
    width: 80%;
    height: 370px;

}

.History-text{
    position: relative;
    margin-top: 20px;
    width: 100%;
}

.History-list{
}

.History-item{
    
    font-family: monospace  ;
    color: black;
    text-decoration: none;
    opacity: 1;
    display: list-item;
    -webkit-animation: fadein ; 1s/* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.History-item:hover{
    color: var(--secondary-color);
    cursor: pointer;
}


.Ref-text{
    text-decoration: none;
    font-size: 0.8em;
    color: gray;
}
